@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: rgb(39, 44, 68)
}

* {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: #333;
}

.task {
  display: flex;
}

.content {
  padding: 1em;
  padding-left: 10%;
  padding-right: 10%;
}

.task-form {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.task-form-boxes {
  display: flex;
  flex-direction: column;
}

.task-form p {
  display: block;
  text-align: center;
  padding-bottom: .5em;
}

.top-left-box {
  text-align: right;
  background-color: #eee;
  border-radius: 1.5em;
  padding: 2em;
}

.top-left-box h1 {
  text-align: center;
}

.top-left-box p {
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
}

.task-list {
  text-align: center;
  background-color: #eee;
  border-radius: 1.5em;
  padding: 1em;
}

.gantt-chart {
  text-align: center;
  background-color: #eee;
  border-radius: 1.5em;
  padding: 1em;
}

.input-box fieldset{
  border-radius: 5rem;
}

.project-details {
  display: block;
  text-align: center;
  padding-top: 1em;
}