@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.content {
  padding: 1em;
}

.user-input {
  text-align: right;
  background-color: #eee;
  border-radius: 1.5em;
  padding: 1em;
}

.user-input h1 {
  text-align: center;
}

.user-input p {
  text-align: left;
}

.task-list {
  text-align: center;
  background-color: #eee;
  border-radius: 1.5em;
  padding: 1em;
}

.gantt-chart {
  text-align: center;
  background-color: #eee;
  border-radius: 1.5em;
  padding: 1em;
}

.title-author-form-field {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.task-details-form-field {
  display: flex;
  flex-direction: column;
  margin: 1em;
}